<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - MyShop Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h1>Manage Users</h1>
        <a th:href="@{/users/new}">Create new User</a>
        &nbsp; | &nbsp;
        <a th:href="@{/users/export/csv}">Export to CSV</a>
        &nbsp; | &nbsp;
        <a th:href="@{/users/export/csv}">Export to Excel</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        <div th:text="${message}"></div>
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

            Filter: &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary" />
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>
    </div>

    <table class="table table-bordered table-striped table-hovered table-responsive-xl">
        <thead class="thead-dark">
            <tr>
               <th th:replace="fragments :: column_link('id','User ID')"/>
                <th>
                    <a>Photos</a>
                </th>
                <th th:replace="fragments :: column_link('email','Email')"/>
                <th th:replace="fragments :: column_link('firstName','First Name')"/>
                <th th:replace="fragments :: column_link('lastName','Last Name')"/>
                <th>Roles</th>
                <th th:replace="fragments :: column_link('enabled','Enabled')"/>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}"></td>
                <td>
                    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:if="${user.isEnabled()==true}" class="fas fa-check-circle fa-2x icon-green"
                       th:href="@{/users/{id}/enabled/false(id=${user.getId()})}" title="Disable this user"></a>
                    <a th:if="${user.isEnabled()==false}" class="fas fa-circle fa-2x icon-gray"
                       th:href="@{/users/{id}/enabled/true(id=${user.getId()})}" title="Enable this user"></a>
                </td>
                <td>
                    <a class="fas fa-edit fa-2x icon-green" th:href="@{/users/edit/{id}(id=${user.getId()})}" title="Edit this user"></a>
                    &nbsp;
                    <a class="fas fa-trash fa-2x icon-gray link-delete" th:href="@{/users/delete/{id}(id=${user.getId()})}" title="Delete this user" onclick="return confirm('Are you sure you want to delete this item?');"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No users found</span>
    </div>
    <div th:if="${totalPages > 1}">
	    <nav aria-label="Page navigation example">
	        <ul class="pagination justify-content-center">
	            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
	                <a th:replace="fragments :: page_link(1,'First')"></a>
	            </li>
	
	            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
	                <a th:replace="fragments :: page_link(${currentPage - 1},'Previous')"></a>
	            </li>
	            <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1,totalPages)}">
	                <a th:replace="fragments :: page_link(${i},${i})"></a>
	            </li>
	            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
	                <a th:replace="fragments :: page_link(${currentPage + 1},'Next')"></a>
	            </li>
	            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
	                <a th:replace="fragments :: page_link(${totalPages},'Last')"></a>
	            </li>
	        </ul>
	    </nav>
    </div>
    <div th:replace="fragments :: footer"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script type="text/javascript">
    function clearFilter(){
        window.location="[[@{/users}]]";
    }
</script>
</body>
</html>